<div class="p-grid">
  <div class="p-col-12">
    <p-checkbox
      value="{{ label1 }}"
      label="{{ label1 }}"
      [(ngModel)]="selectedValues"
    ></p-checkbox>
  </div>
  <div class="p-col-12">
    <p-checkbox
      value="{{ label2 }}"
      label="{{ label2 }}"
      [(ngModel)]="selectedValues"
    ></p-checkbox>
  </div>
  <div class="p-col-12">
    <p-checkbox
      value="{{ label3 }}"
      label="{{ label3 }}"
      [(ngModel)]="selectedValues"
    ></p-checkbox>
  </div>
  <div class="p-col-12">
    <p-checkbox
      value="{{ label4 }}"
      label="{{ label4 }}"
      [(ngModel)]="selectedValues"
    ></p-checkbox>
  </div>
</div>
