<div class="exam__user">
  <p>
    Zalogowany: <b>{{ name }} {{ surename }}</b>
  </p>
</div>
<div class="subject__header"></div>
<div class="subject__wrapper">
  <app-exam-card
    header="Informatyka"
    srcImg="../../assets/img/it.jpg"
    maxPoints="10"
  ></app-exam-card>
  <app-exam-card
    header="Biologia"
    srcImg="../../assets/img/biology.jpg"
    maxPoints="10"
  ></app-exam-card>
  <app-exam-card
    header="Historia"
    srcImg="../../assets/img/history.jpg"
    maxPoints="10"
  ></app-exam-card>
</div>
