<div class="p-grid">
  <div class="p-col-12">
    <div class="p-col-12">
      <p-radioButton
        value="{{ label1 }}"
        label="{{ label1 }}"
        [(ngModel)]="answer"
      ></p-radioButton>
    </div>
    <div class="p-col-12">
      <p-radioButton
        value="{{ label2 }}"
        label="{{ label2 }}"
        [(ngModel)]="answer"
      ></p-radioButton>
    </div>
    <div class="p-col-12">
      <p-radioButton
        value="{{ label3 }}"
        label="{{ label3 }}"
        [(ngModel)]="answer"
      ></p-radioButton>
    </div>
    <div class="p-col-12">
      <p-radioButton
        value="{{ label4 }}"
        label="{{ label4 }}"
        [(ngModel)]="answer"
      ></p-radioButton>
    </div>
  </div>
</div>
