<div class="p-grid">
  <div class="p-col-12">
    <div class="p-col-12">
      <p-radioButton
        value="{{ value1 }}"
        label="{{ label1 }}"
        [(ngModel)]="selectedValue"
      ></p-radioButton>
    </div>
    <div class="p-col-12">
      <p-radioButton
        value="{{ value2 }}"
        label="{{ label2 }}"
        [(ngModel)]="selectedValue"
      ></p-radioButton>
    </div>
    <div class="p-col-12">
      <p-radioButton
        value="{{ value3 }}"
        label="{{ label3 }}"
        [(ngModel)]="selectedValue"
      ></p-radioButton>
    </div>
    <div class="p-col-12">
      <p-radioButton
        value="{{ value4 }}"
        label="{{ label4 }}"
        [(ngModel)]="selectedValue"
      ></p-radioButton>
    </div>
  </div>
</div>
